<!DOCTYPE html>
<html ng-app="app" ng-controller="projectController">
<head>
    <title>Registration Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="logic.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Проект</h2>
<div>

    <table>
        <tbody>
        <tr>
            <td>Название</td>
            <td><input type="text" ng-model="title"></td>
        </tr>
        <tr>
            <td>Руководитель</td>
            <td><select>
                <option ng-repeat="u in UserList" value="u.login">{{u.login}}</option>
            </select></td>
        </tr>
        </tbody>
    </table>

    <h3>Задачи</h3>
    <div class="slow_window">
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tbody>
            <tr ng-repeat="t in TaskList">
                <td><input type="checkbox" name="task" value="t.id" ng-click="select(t)"></td><td>{{t.title}}</td><td>{{t.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>Исполнители</h3>
    <div class="slow_window">
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <thead>
            <td></td>
            <td>Логин</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Отчетсво</td>
            </thead>
            <tbody>
            <tr ng-repeat="u in UserList">
                <td><input type="checkbox" name="user" value="u.id" ng-click="selectUser(u)"></td>
                <td>{{u.login}}</td>
                <td>{{u.name}}</td>
                <td>{{u.secondName}}</td>
                <td>{{u.lastName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-dark" ng-click="save()">Сохранить</button>
</div>
</body>
</html>