<!DOCTYPE html>
<html ng-app="app" ng-controller="tasksController">
<head>
    <title>Registration Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="logic.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h2>Список задач:</h2>
    <div id="lists">
        <div>
            <p><input type="checkbox" ng-model="isArchived" ng-click="update()">Архивированные</p>
            <p><input type="checkbox" ng-model="isVisible">Сгруппировать задачи по проекту</p>
        </div>
        <button class="btn btn-dark" ng-click="create()">Создать</button>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tr>
                <td>id</td>
                <td>Название</td>
                <td>Статус</td>
                <td>Приоритет</td>
                <td>Руководитель</td>
            </tr>
            <tbody ng-repeat="t in TaskList">
            <tr ng-click="select(t.id)">
                <td>{{t.id}}</td>
                <td>{{t.title}}</td>
                <td>{{t.status}}</td>
                <td>{{t.priority}}</td>
                <td>{{t.leaderId}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <nav>
            <ul class="pagination" style="float:left">
                <li class="page-item"><a class="page-link"
                                         ng-click="query(page-1)">prev</a>
                </li>
                <li class="page-item"><a class="page-link"
                                         ng-click="query(page+1)">next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>